
# Environment variables (VERY IMPORTANT)
.env

# Local secret files
key.py

# Python cache
__pycache__/
*.pyc

# Temp folders
temp_run/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Virtual environment
venv/
env/